*
src/__pycache__
src/.idea

!docs/
!scripts/
!results/
!data/

!data/gesture/
!data/gesture/processed
!data/gesture/raw
!src/

!README.md

!cfg.py
!attnSelf.py
!attention.py
!cbPredict.py
!cbTrain.py
!functions.py
!scrfunctions.py
!main.py
!sig-process.py
!analysis.py
!seq-to-vec-hardvote.py
!seq-to-vec-softvote.py
!stack.py
!*.txt
!*.csv
!*.png
!*.doc
!*.pdf


